@import "../App.scss";

.about-me {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px 20px 20px;
    position: relative;

    @include mobile {
        height: 100%;
    }

    .titleContainer {
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
            font-size: 4rem;

            @include mobile {
                font-size: 2rem;
            }
        }
    }

    .contentContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        @media (min-width: 915px) {
            flex-direction: row;
            align-items: flex-start;
        }

        .textContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px;
            flex: 1;

            @include mobile {
                font-size: 0.8rem;
            }

            h4 {
                margin-bottom: 10px;
                font-size: 2rem;

                @include mobile {
                    font-size: 1.2rem;
                }
            }
        }

        .skillsContainer {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            flex: 1;
            

            h4 {
                margin-bottom: 10px;
                font-size: 2rem;

                @include mobile {
                    font-size: 1.2rem;
                }
            }

            .skillsetContainer {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;

                .skill {
                    padding: 10px;
                    margin-bottom: 5px;
                    margin-right: 5px;
                    font-size: 1rem;
                    background: #70163b52;
                    border-radius: 5px;
                    min-width: 80px;
                    text-align: center;

                    @include mobile {
                        font-size: 0.7rem;
                    }
                }
            }
        }
    }
}