@import "../App.scss";

.contact {
    height: 100%;
    max-width: 1366px;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 20px;

    @include mobile {
        width: 100%;
        padding: 10px;
        flex-direction: column;
        gap: 20px;
    }

    .textContainer {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 20px;

        @include mobile {
            gap: 20px;
            text-align: center;
            align-items: center;
            margin-top: 70px;
            padding: 10px;
        }

        h1 {
            font-size: 50px;
            line-height: 58px;

            @include mobile {
                font-size: 26px;
                line-height: 30px;

            }
        }

        h2 {
            @include mobile {
                font-size: 16px;
            }
        }

        p {
            font-weight: 300;
            
            @include mobile {
                font-size: 12px;
            }
        }
    }

    .formContainer {
        flex: 1;
        position: relative;
        padding: 20px;

        @include mobile {
            padding: 10px;
            max-width: 90%;
            width: 100%;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 20px;

            @include mobile {
                gap: 10px;
            }

            input, textarea {
                padding: 15px;
                background-color: transparent;
                border: 1px solid #FCF7FF;
                border-radius: 5px;
                width: 100%;
                color: #FCF7FF;

                @include mobile {
                    padding: 5px;
                }

                &::placeholder {
                    color: #FCF7FF;
                }
            }

            button {
                padding: 15px;
                border: none;
                background-color: #70163c;
                font-weight: 500;
                cursor: pointer;
                border-radius: 20px;
                color: #FCF7FF;

                @include mobile {
                    padding: 10px;
                }
            }
        }
    }
}